@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

a:link{
  color: rgb(143, 139, 199);
  padding: 5pt;
  border: 1px solid #1f6128;
  text-decoration: none;
  background-color:  rgb(143, 139, 199); 
  margin: 5px;
}
a:visited{
  color:rgb(214, 219, 247);
  padding: 5pt;
  border: 1px solid #1f6128;
}
a:hover{
  color:rgb(171, 189, 228);
  padding: 5pt;
  border: 1px solid #1f6128;
}
a.current{
  color:rgb(107, 107, 107);
  padding: 5pt;
  border: 1px solid #1f6128;
}
a:active{
  color:rgb(17, 17, 206);
  padding: 5pt;
  border: 1px solid #1f6128;
}
li{
  margin-bottom: 20px;
}
img{
  max-width: 300px;
  max-height: 300px;
  border: 3px solid #ffffff;
  padding: 4pt;
}
.odd{
  float: right;
  margin-left: 8pt;
}
.even{
  float: left;
  margin-right: 8pt;
}
p{
  text-align: justify; 
  color:aliceblue;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
}
html{
  background-color: #52539b;
}
h1{
  color:aliceblue;
  font-family: "Railway", serif;
  font-size: 40pt;
  font-weight: 600;
}
h2{
  color:aliceblue;
  font-family: "Railway", serif;
  font-size: 25pt;
  font-weight: 600;
}
