
img{
  max-width: 1px;
  max-height: 1px;
}
.odd{
 float: right;
  margin-left: 8pt;
}
.even{
  float: left;
  margin-right: 8pt;
}
p{
  text-align: justify;
}
a:link{
  color: rgb(38, 33, 107);

}
a:visited{
  color:rgb(50, 65, 153);
}
a:hover{
  color:rgb(111, 124, 151);
}
a.current{
  color:rgb(168, 168, 168);
}
a:active{
  color:rgb(17, 17, 206);
}
